.AddressPage_container {
  width: 100%;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.AddressPage_container::-webkit-scrollbar {
  display: none;
}

.Address_add {
  width: 82%;
  margin: 0 auto;
  padding: 4%;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff916f;
  cursor: pointer;
}
