.AddressAddForm_name, .AddressAddForm_number, .AddressAddForm_nickname, .AddressAddForm_address {
    width: 90%;
    padding: 5%;
    margin: 5% auto;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.AddressAddForm_header {
    font-size: 13px;
    border-bottom: 1px solid #FF916F;
    margin-bottom: 5%;
}

.AddressAddForm_name > input, .AddressAddForm_number > input, .AddressAddForm_nickname > input {
    width: 96%;
    padding: 2%;
    border: 0.1px solid rgb(255, 145, 111, 0.1);
    background-color: rgb(255, 145, 111, 0.1);
    border-radius: 4px;
}

.AddressAddForm_add {
    background-color: #FF916F;
    text-align: center;
    border-radius: 10px;
    padding: 2%;
    font-size: 21px;
    font-weight: bold;
}

.AddressAddForm_dataInput {
    width: 100%;
}

.AddressAddForm_dataInput > button {
    width: 30%;
    padding: 2%;
    background-color: #fff;
    border: 1px solid #FF916F;
    border-radius: 4px;
    margin-left: 5%;
}

.address_zip_code {
    width: 45%;
    margin-bottom: 5%;
    padding: 2%;
    border: 0.1px solid rgb(255, 145, 111, 0.1);
    background-color: rgb(255, 145, 111, 0.1);
    border-radius: 4px;
}

.address_default_address, .address_detail_address {
    width: 96%;
    margin-bottom: 5%;
    padding: 2%;
    border: 0.1px solid rgb(255, 145, 111, 0.1);
    background-color: rgb(255, 145, 111, 0.1);
    border-radius: 4px;
}