.AddressFixForm_name,
.AddressFixForm_number,
.AddressFixForm_nickname,
.AddressFixForm_address {
  width: 90%;
  padding: 5%;
  margin: 5% auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.AddressFixForm_header {
  font-size: 13px;
  border-bottom: 1px solid #ff916f;
  margin-bottom: 5%;
}

.AddressFixForm_name > input,
.AddressFixForm_number > input,
.AddressFixForm_nickname > input {
  width: 96%;
  padding: 2%;
  border: 0.1px solid rgb(255, 145, 111, 0.1);
  background-color: rgb(255, 145, 111, 0.1);
  border-radius: 4px;
}

.AddressFixForm_Fix {
  background-color: #ff916f;
  text-align: center;
  border-radius: 10px;
  padding: 2%;
  font-size: 21px;
  font-weight: bold;
}

.AddressFixForm_dataInput {
  width: 100%;
}

.AddressFixForm_dataInput > button {
  width: 30%;
  padding: 2%;
  background-color: #fff;
  border: 1px solid #ff916f;
  border-radius: 4px;
  margin-left: 5%;
}

.address_zip_code {
  width: 45%;
  margin-bottom: 5%;
  padding: 2%;
  border: 0.1px solid rgb(255, 145, 111, 0.1);
  background-color: rgb(255, 145, 111, 0.1);
  border-radius: 4px;
}

.address_default_address,
.address_detail_address {
  width: 96%;
  margin-bottom: 5%;
  padding: 2%;
  border: 0.1px solid rgb(255, 145, 111, 0.1);
  background-color: rgb(255, 145, 111, 0.1);
  border-radius: 4px;
}
