.PointPage_container {
    width: 90%;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.PointPage_container::-webkit-scrollbar {
    display: none;
}