.subHeader_container {
  width: 390px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 0.6px solid darkgray; 
  background-color: #fff;
}

#subHeader_back {
  width: 25%;
  cursor: pointer;
}

#subHeader_pageName {
  width: 25%;
  font-size: 16px;
  font-weight: bold;
  cursor: default;
  color: #23232E;
  text-align: center;
}