.MyInfo_container {
    padding: 0 16px;
}

.MyInfo_container .MyInfo_title {
    display: flex;
}

.MyInfo_container .MyInfo_title img {
    margin-left: 5px;
    width: 25px;
    height: auto;
}

.MyInfo_container .MyInfo_content {
    display: flex;
    margin: 5px 0;
    width: auto;
    height: 90px;
    align-items: center;
}

.MyInfo_container .MyInfo_content img {
    margin: 0 10px;
    width: 80px;
    height: auto;
}

.MyInfo_content .account_title {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 3px;
    color: #535353;
}

.MyInfo_content .name {
    font-size: 20px;
}

.MyInfo_content .MyInfo_money {
    margin-top: 4px; 
    display: flex;
    font-size: 14px;
}

.MyInfo_content .MyInfo_money .money {
    margin-left: 6px;
}

.MyInfo_content .MyInfo_money img {
    width: 25px;
    height: auto;
}