.NewItem_container {
    height: 260px;
    margin: 0 20px;
    padding: 0 10px;
    border-top: 2px solid #FF916F;
}

.NewItem_container .NewItem_header {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.NewItem_title {
    font-size: 15px;
    margin: 5px 0;
}

.NewItem_title_new {
    font-size: 13px;
    margin-left: 5px;
    color: #FF4A4A;
}

.NewItem_more {
    margin-left: auto;
}

.NewItem_container .NewItem_list {
    justify-content: space-between;
}

.NewItem_container .NewItem_list img {
    width: 95px;
    height: 95px;
    margin: 1px 7px;
}

.NewItem_header img {
    width: 25px;
    height: 25px;
}