.PopularItem_container {
    height: 150px;
    margin: 40px 20px 0px;
    padding: 0 10px;
    border-top: 2px solid #FF916F;
}

.PopularItem_container .PopularItem_header {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.PopularItem_title {
    font-size: 15px;
    margin: 5px 0;
}

.PopularItem_more {
    margin-left: auto;
}

.PopularItem_container .PopularItem_list {
    display: flex;
    justify-content: space-between;
}

.PopularItem_container .PopularItem_list img {
    width: 95px;
    height: auto;
}

.PopularItem_header img {
    width: 25px;
    height: 25px;
}