.notlogin_profil {
    width: 100%;
    margin: 5% 0 5% 0;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.notlogin_header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FF916F;
}

.notlogin_header > p {
    font-size: 15px;
    font-weight: bold;
}

.notlogin_content {
    width: 90%;
    margin: 5% auto 5% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notlogin_profil_info {
    width: 100%;
    display: flex;
    align-items: center;
}

.notlogin_profil_info  > p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    transition: 0.5s;
}

.notlogin_profil_info  > p:hover {
    color: #FF916F;
    cursor: pointer;
}

#notlogin_name {
    font-size: 14px;
    font-weight: 500;
    color: #aca8a8;
}

.notlogin_logout {
    font-weight: bold;
    font-size: 12px;
    color: #DA0000;
    cursor: pointer;
}