.OrderTap_container {
  position: fixed;
  bottom: 0px;
  width: 390px;
  height: 80px;
  background-color: #ffcebe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OrderTap {
  width: 30%;
  margin: 0 auto;
  padding: 3%;
  font-weight: bold;
  text-align: center;
  background-color: #ff916f;
  border-radius: 10px;
  cursor: pointer;
}
