.ShoppingCartList_container {
    margin: 5px 20px;
    height: 140px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.ShoppingCartList_top {
    display: flex;
    margin: 5px 10px;
    padding: 5px 0;
    justify-content: space-between;
    border-bottom: 1px solid #FF916F;
}

.ShoppingCartList_top_left .Product_info {
    font-size: 10px;
    margin-top: 3px;
}

.ShoppingCartList_top_left {
    display: flex;
}

.ShoppingCartList_top_left img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.ShoppingCartList_select_circle {
    width: 15px;
    height: 15px;
    margin: 3px 5px 0 0;
    border: 1px solid #FF916F;
    border-radius: 50%;
}

.ShoppingCartList_top_left .select {
    background-color: #ff8864;
}

.ShoppingCartList_content {
    display: flex;
    margin: 5px 10px;
}

.ShoppingCartList_content img {
    width: 105px;
}

.Product_detail_info {
    margin: 0 10px;
}

.Product_detail_info .Product_name {
    font-size: 15px
}

.Product_detail_info .Product_quantity {
    width: 30px;
}

.Product_detail_info .quantity {
    font-size: 10px;
    color: gray;
    margin-left: 5px;
}

.Product_detail_info .quantity_info {
    display: flex;
    font-size: 14px;
    margin-left: 5px;
}

.Product_detail_info .quantity_update_bar {
    display: flex;
    margin-left: 30px;
}

.plus_bar,
.quantity_bar,
.minus_bar {
    width: 25px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    line-height: 17px;
    background-color: #FFFFFF;
}

.plus_bar,
.quantity_bar {
    border-right: none;
}

.update_button {
    width: 50px;
    height: 20px;
    margin: 2px 0 0 20px;
    font-size: 12px;
    background-color: #FF916F;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.update_button:hover {
    background-color: #ff8864;
}

.Product_detail_info .price_info {
    display: flex;
    margin: 5px 0 0 10px;
    margin-left: 120px;
}

.Product_detail_info .price {
    font-size: 11px;
    margin-top: 5px;
}

.Product_detail_info .Product_price {
    margin-left: 5px;
}