.PurchaseCheck_container {
    margin: 10px 0;
    height: 130px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.PurchaseCheck_top {
    display: flex;
    padding: 5px;
    padding-top: 10px;
    margin: 10px;
    border-bottom: 1px solid #FF916F;
}

.PurchaseCheck_top .PurchaseCheck {
    font-size: 13px;
}

.PurchaseCheck_top img {
    width: 20px;
    margin-left: 2px;
}

.Holding_point,
.Deduction_point,
.Remaining_point {
    display: flex;
    margin: 5px 10px;
    padding: 0 5px;
}

.Deduction_point {
    padding-bottom: 5px;
    border-bottom: 1px solid #FF916F;
}

.Point_type {
    font-size: 14px;
}

.Point {
    text-align: right;
    width: 70px;
    font-size: 14px;
    margin-left: 50px;
}