.ProductPage_container .ProductPage_top {
    width: 70px;
    height: 25px;
    font-size: 12px;
    background-color: #FF916F;
    text-align: center;
    line-height: 25px;
    border-radius: 18px;
}

.Product_list {
    margin-top: 95px;
    margin-bottom: -20px;
}

.ProductPage_top {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 390px;
    height: 44px;
    margin-top: 52px;
    border-bottom: 0.6px solid rgb(228, 228, 228);
}

.prod_category_select_btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #e4e4e4;
    color: #383838;
    padding: 4px 8px;
    margin-left: 10px;
    border-radius: 15px;
}