.ProductDetailMain_container {
  height: 360px;
  margin: 0 20px;
  padding-top: 10px;
  background-color: #ff916f;
  border-radius: 10px;
  margin-top: 60px;
}

.ProductDetailMain_container .ProductDetailMain_image {
  margin: 0 35px;
  height: 230px;
  background-color: #ffffff;
  text-align: center;
}

.ProductDetailMain_container .ProductDetailMain_image img {
  width: 230px;
  height: 230px;
}

.ProductDetailMain_container .ProductDetailMain_content {
  margin: 0 10px;
  padding: 10px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 10px;
}

.ProductDetailMain_content_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ff916f;
}

.ProductDetailMain_content_name {
  font-size: 13px;
}

.ProductDetailMain_content_top .Product_image img {
  width: 20px;
}

.ProductDetailMain_content_info {
  padding-top: 5px;
}

.ProductDetailMain_content_info .product_info {
  font-size: 10px;
  color: gray;
}

.ProductDetailMain_content_info .ProductDetail_address {
  font-size: 12px;
}

.ProductDetailMain_content_info_bottom {
  display: flex;
}

.ProductDetailMain_content_info .ProductDetail_price {
  font-size: 13px;
}

.ProductDetailMain_content_info .rating img {
  width: 90px;
  margin: 10px 0 0 15px;
}

.ProductDetailMain_content_info_bottom .grade_info {
  margin-left: 10px;
}

.ProductDetailMain_content_info_bottom .grade_info .grade {
  font-size: 10px;
  color: gray;
}

.ProductDetailMain_content_info_bottom .grade_info .my_grade {
  display: flex;
}

.my_grade_ {
  color: blue;
}

.ProductDetailMain_container .ProductDetailMain_coment {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

.ProductDetail_address {
  width: 140px;
}
