.ProductReviewPopUp_container {
  width: 390px;
  position: fixed;
  margin-bottom: 55px;
  bottom: 0;
}

.ProductReviewPopUp_top {
  height: 178px;
  border: 1px solid #ff845f;
  border-radius: 10px;
  padding: 10px;
  margin-top: 68px;
  background-color: #ffffff;
}

.ProductReviewPopUp_top_delete {
  display: flex;
  justify-content: space-between;
}

.ProductReviewPopUp_top_delete img {
  width: 18px;
}

.ProductReveiwPopUp_top_content {
  overflow: scroll;
  height: 180px;
}

.ProductReviewPopUp_bottom {
  height: 50px;
  background-color: #ffc3b1;
  border-radius: 10px;
  padding: 5px;
}

.ProductReviewPopUp_bottom_inner {
  display: flex;
  height: 47px;
  border: 1.5px solid #ff916f;
  border-radius: 10px;
  align-items: center;
}

.ProductReviewPopUp_bottom_inner img {
  width: 20px;
}

.ProductReviewPopUp_bottom_inner .ProductReviewPopUp_bottom_coment {
  font-size: 13px;
  font-weight: bold;
  margin-left: 15px;
}

.ProductReviewPopUp_bottom_purchase_buttom:hover {
  background-color: #ff845f;
}

.ProductReviewPopUp_thumb_up,
.ProductReivewPopUp_ShoppingCart {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  background-color: #ff916f;
  text-align: center;
  border-radius: 10px;
}

.ProductReviewPopUp_thumb_up {
  background-color: #ffffff;
}

.ProductReviewPopUp_thumb_up img,
.ProductReivewPopUp_ShoppingCart img {
  margin-top: 5px;
}

.ProductReviewPopUp_bottom_inner .ProductReviewPopUp_bottom_purchase_buttom {
  width: 80px;
  height: 35px;
  background-color: #ff916f;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
  font-size: 13px;
  margin-left: 8px;
}
