body {
  background-color: rgb(205, 200, 200);
}

.App {
  width: 390px !important;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 70px;
  overflow-y: scroll;
  background-color: #fff;
  scrollbar-width: none; /* Firefox */
}

.App::-webkit-scrollbar {
  display: none;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
